<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand">
  <div class="container-fluid">
    <div *ngIf="!(user | async)">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/connexion">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/produits"
            >Liste des produits</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/categorie">Categorie</a>
        </li>
      </ul>
    </div>
    <div *ngIf="user | async" class="container-fluid">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/produits"
            >Liste des produit</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/categorie">Categorie</a>
        </li>
      </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect"> Mon panier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="disconnect()">Déconnexion</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
